# Code Owners for Robotics Nanodegree Content
# As of July, 7th 2017

# Default Owner
*       @ryan-keenan

# 1. Content Developer
*       @ryan-keenan

# 2. Services Lead
*       mike.salem@udacity.com

# 3. Program Lead
*       @cdlei

# 4. Mike Wales
*       @walesmd
